<%= partial "partials/navbar" %>
<div id="banner-container" class="container">
  <%= partial "partials/banner" %>
</div>
<%# <div class="container-greeting">
  <p>Welcome</p>
</div> %>
<div class="container mt-5">
  <%= partial "partials/about" %>
  <%= partial "partials/projects" %>
</div>
<%= partial "partials/contact" %>
<%= partial "partials/footer" %>
