<%= partial "partials/navbar" %>
<div id="banner-container" class="container">
  <%= partial "partials/banner" %>
</div>
<div class="container mt-5">
  <%= partial "partials/about" %>
  <%= partial "partials/projects" %>
</div>
<%= partial "partials/media" %>
<%= partial "partials/contact" %>
<%= partial "partials/footer" %>
<script>
  ScrollReveal().reveal('.banner-text', {
    useDelay: 'onload',
    easing: 'ease-out',
    origin: 'left',
    distance: '60px',
    duration: 1200,
    opacity: 0
  })
  ScrollReveal().reveal('.banner-text hr', {
    useDelay: 'onload',
    easing: 'ease-out',
    delay: 2600,
    duration: 1200,
  })
  ScrollReveal().reveal('.banner-text h2', {
    useDelay: 'onload',
    easing: 'ease-out',
    delay: 1400,
    duration: 1200
  })
  ScrollReveal().reveal('.container-iphone', {
    useDelay: 'always',
    reset: true,
    easing: 'ease-out',
    origin: 'left',
    distance: '60px',
    duration: 700
  });
  ScrollReveal().reveal('.container-macbook', {
    useDelay: 'always',
    reset: true,
    easing: 'ease-out',
    origin: 'right',
    distance: '60px',
    duration: 700
  });
  ScrollReveal().reveal('.container-surface-pro', {
    useDelay: 'always',
    reset: true,
    easing: 'ease-out',
    origin: 'left',
    distance: '60px',
    duration: 700
  });
</script>
