<%= partial "partials/navbar" %>
<div id="banner-container" class="container">
  <%= partial "partials/banner" %>
</div>
<div class="container mt-5">
  <%= partial "partials/projects" %>
  <%= partial "partials/about" %>
  <%= partial "partials/other-projects" %>
</div>
<%= partial "partials/media" %>
<%= partial "partials/contact" %>
<%= partial "partials/footer" %>
<script>
  ScrollReveal().reveal('.banner-text', {
    useDelay: 'onload',
    origin: 'left',
    distance: '60px',
    duration: 1400,
    opacity: 0
  })
  ScrollReveal().reveal('.banner-text hr', {
    useDelay: 'onload',
    easing: 'ease-out',
    delay: 2600,
    duration: 1200,
  })
  ScrollReveal().reveal('.banner-text h2', {
    useDelay: 'onload',
    easing: 'ease-out',
    delay: 1400,
    duration: 1200
  })
  
  
  // Device movement //
  
  const mobileView = window.matchMedia( "(min-width: 576px)" );
  const leftOrRight = (!mobileView.matches) ? 'left' : 'right'
  
  ScrollReveal().reveal('.device-origin-left', {
    origin: 'left',
    reset: true,
    easing: 'ease-out',
    distance: '60px',
    duration: 700
  });
  ScrollReveal().reveal('.device-origin-right', {
    origin: leftOrRight,
    reset: true,
    easing: 'ease-out',
    distance: '60px',
    duration: 700
  });
  ScrollReveal().reveal('.about-pic, .cards-skills, .card-media, .card-contact a',  {
    useDelay: 'once',
    reset: true,
    easing: 'ease-out',
    duration: 700
  });
</script>
